{% extends "base.html" %}

{% block title %} {{ textbook.title }} {% endblock title %}

{% block book_sidebar %}
    <ul class="nav nav-sidebar">
        <li class="">
            <li class=""><a href="{% url 'textbooks:textbook_detail' textbook.id %}">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; {{ textbook.title }}
            </a>
                <ul>
                    {% for lesson in textbook.lesson_set.all %}
                        <li><a href="{% url 'textbooks:lesson' textbook.id lesson.id %}"> {{ lesson.title }} </a> </li>
                    {% endfor %}
                </ul>
        </li>
    </ul>
{% endblock book_sidebar %}

{% block textbook %}
    <ul class="nav nav-sidebar">
        <li class="">
            <li class=""><a href="{% url 'textbooks:textbook_detail' textbook.id %}">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; {{ textbook.title }}
            </a>
                <ul>
                    {% for lesson in textbook.lesson_set.all %}
                        <li><a href="{% url 'textbooks:lesson' textbook.id lesson.id %}"> {{ lesson.title }} </a> </li>
                    {% endfor %}
                </ul>
        </li>
    </ul>
{% endblock textbook %}

{% block content_title %}{{ textbook.title }}{% endblock content_title %}


{% block button %}
        <li class="">
          <a href="{% url 'textbooks:add_lesson' textbook.id %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Добавить урок
          </a>
        </li>
{% endblock button %}

{% block  content %}

<p>{% autoescape off %} {{ textbook.text }} {% endautoescape %}</p>




<br>
<h1 class="page-header"> Уроки </h1>
{% if textbook.lesson_set.count > 0 %}
    {% for lesson in textbook.lesson_set.all %}
<h2>
        <a href="{% url 'textbooks:lesson' textbook.id lesson.id %}"> {{ lesson.title }} </a>
    {% if user.is_staff or user.is_superuser %}
            <div class="btn-toolbar">
                <a href="{% url 'textbooks:lesson_update' textbook.id lesson.id %}">
                    <button type="submit" class="btn btn-warning btn-xs">Изменить урок</button></a>

                <a href="{% url 'textbooks:lesson_delete' textbook.id lesson.id %}">
                    <button type="submit" class="btn btn-danger btn-xs">Удалить урок</button></a>
            </div>
    {% endif %}
</h2>
    {% endfor %}
{% else %}
{% if user.is_staff or user.is_superuser %}
    <p> В этом учебника пока нет ни одного урока.
        Вы можете <a href="{% url 'textbooks:add_lesson' textbook.id %}">создать урок</a>. </p>
{% endif %}
{% endif %}

{% endblock content %}
