{% extends "base.html" %}


{% block forum_sidebar %}
<ul class="nav nav-sidebar">
    <li class=""><a href="{% url 'forum:forum-index' %}"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        Форум</a></li>
        <ul>
            {% for forum in forums %}
                <li class=""><a href="{% url 'forum:forum-detail' forum.pk %}">{{ forum.title }}</a></li>
            {% endfor %}
        </ul>
</ul>
{% endblock forum_sidebar %}

{% block content_title %}{{ forum.title }} {% endblock content_title %}

{% block content %}
<!-- Threads  -->
<a id="new_topic" class="btn btn-primary" href="{% url 'forum:new-topic' pk %}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
        Создать новый топик</a>
<br />
<br />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
    <tr>
        <th>Топики</th>
        <th>Количество постов</th>
        <th>Последний пост</th>
    </tr>
            </thead>
    <tbody>
    {% for topic in topics.object_list %}
    <tr>
        <td {% if forloop.last %}class="last"{% endif %}>
        <div class="title"> <a href="{% url 'forum:topic-detail' topic.pk %}"> {{ topic.title }}</a>
            </div></td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ topic.num_replies }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            {{ topic.last_post.short|linebreaksbr }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>
</div>

<!-- Next/Prev page links  -->
{% if topics.object_list and topics.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if topics.has_previous %}
            <a href= "?page={{ topics.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ topics.number }} of {{ topics.paginator.num_pages }}
        </span>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock content %}