{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content_title %}Добро пожаловать!{% endblock content_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
    <h2>Вход в систему</h2>
            <div>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
