{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
Вы получили это письмо, потому что ваш email
{% trans "Пожалуйста, перейдите на следующую страницу и введите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ваше имя пользователя, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Спасибо, что пользуетесь нашим сайтом!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
